.aviso-cookies{
    display: none;
    background: #ffff;
    padding: 40px;
    width: calc(100% -40px);
    max-width: 500px;
    line-height: 100%;
    /*Espaciadoentretexto*/border-radius: 10px;
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    -ms-border-radius: 1;
    -o-border-radius: 1;
    position: fixed;
    /*fijoapantalla*/bottom: 30px;
    right: 30px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgba(222, 222, 222, 0.5);
    text-align: center;
    color: black;
} 
.aviso-cookies.activo {
    display: block;
}

.aviso-cookies .img-cookie{
    max-width: 150px;
    position: absolute;
    top: -75px;
    right: calc(50% - 75px);

}
.aviso-cookies .titulo-cookies,
.aviso-cookies .parrafo-cookies {
    margin-bottom: 15px;
}
.aviso-cookies .boton-cookies {
    width: 100%;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.aviso-cookies .link-politica{
    color: rgb(9, 140, 221);
    text-decoration: none; /*no subrayado enlace*/
    font-size: 14px;
    padding-top: 10px;
}
.aviso-cookies .link-politica:hover{
    text-decoration: underline; /*subrayado enlace*/
}
.fondo-aviso-cookies {
    display: none;
    background: rgba(255, 255,255, 0.25);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
}

.fondo-aviso-cookies.activo {
    display: block;
}