

body{
    background-color: rgb(39, 39, 39);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding:0 1.5em;
}
.contenedor{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20em;
    padding-right: 20em;
    
}
.cabecera{

    font-size: 3em;
    text-align: center;
}
.cabecera span{
    color:#0e6bb7;
    padding-left: 0.3em;
}

.contacto{
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    
}

.contacto > *{
    padding: 1em;
}
.contact-form{
    background-color: rgb(54, 54, 54);;
}
.contact-form form{
    margin: 0;
    padding: 1em;
}

button{
    width: 100%;
    padding: 0.7em;
    border: none;
    background: #0e6bb7;
    outline:0;
    color: #ffff;
    text-transform: uppercase;
    font-size: 1em;
    
    
 
}
button:hover{
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    background-color: #4e97d3;
    box-shadow: 0 0 10px #4e97d3;
    cursor: pointer; /*Cambia el cursor flecha a la manita*/
}

input{
    width: 96.5%;
    padding: 0.7em;
    border: none;
    background: none;
    outline:0;
    border-bottom: 1px solid #4e97d3;
    color: #ffff;

}
.contact-info{
    font-size: 0.8rem;
    background-color: black;
}
.error{
    color:red;
    font-size: 0.8rem;
    font-style: italic;
}
.ghost{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(54, 54, 54);
}
.ghost a{
    color:#0e6bb7;
    font-weight: bolder;
}
.ghost a::selection{
    color:#4e97d3;
}