

body{
    background-color: rgb(39, 39, 39);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding:0 1.5em;
}
.contenedor{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20em;
    padding-right: 20em;
    
}
.contenedor-exito{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20em;
    padding-right: 20em;
    padding-top: 10em;
    
}
.cabecera{

    font-size: 3em;
    text-align: center;
    padding-bottom: 0;
}
.cabecera span{
    color:#0e6bb7;
    padding-left: 0.3em;
}
.img-logo {
    margin-right: 20px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.contacto{
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    
}

.contacto > *{
    padding: 1em;
}
.contact-form{
    background-color: rgb(54, 54, 54);;
}
.contact-form form{
    margin: 0;
    padding: 1em;
}

button{
    width: 100%;
    padding: 0.7em;
    border: none;
    background: #0e6bb7;
    outline:0;
    color: #ffff;
    text-transform: uppercase;
    font-size: 1em;
    
    
 
}
button:hover{
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    background-color: #4e97d3;
    box-shadow: 0 0 10px #4e97d3;
    cursor: pointer; /*Cambia el cursor flecha a la manita*/
}

input{
    width: 96.5%;
    padding: 0.7em;
    border: none;
    background: none;
    outline:0;
    border-bottom: 1px solid #4e97d3;
    color: #ffff;

}
.contact-info{
    font-size: 0.8rem;
    background-color: black;
}
.error{
    color:red;
    font-style: italic;
}
.ghost{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(54, 54, 54);
    z-index: 100;
}
.ghost a{
    color:#0e6bb7;
    font-weight: bolder;
}
.ghost a::selection{
    color:#4e97d3;
   
}

.ghosti{
    padding: 0.5rem;
    background-color: rgba(12, 12, 12, 0.9);
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ffff;
    z-index: 1;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1rem;

    
}


.ghosti-error{
    padding: 0.5rem;
    background-color: rgba(12, 12, 12, 0.9);
    box-shadow: 0 0 60px rgba(244, 4, 4, 0.612);
    display: flex;
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(249, 3, 3);
    z-index: 1;
    margin-left: 20rem;
    margin-right:20rem;
    
}

.fondo-exito {
    display: block;
    background: rgba(0, 0,0, 0.90);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
}

.ghost-exito{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.70);
    box-shadow: 0 0 50px rgba(9, 147, 245, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(54, 54, 54);
    z-index: 100;
}