.table-ranking {
    width: 80%;
    margin:10%;
    margin-top: 10%;
    color: #ffff;
    }
    .tr-cabecera{
    color: rgb(252, 215, 7);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-bottom-color:rgb(252, 215, 7);
    width: 2em;
    }
    .tr-fila{
        border:0;
     
        }
    .td-cabecera-puesto{
        padding-left: 1em;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom-color:rgb(252, 215, 7);
        border-bottom: 1px solid;
        margin: 0;
    }
    .td-cabecera-usuario{
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid;
        border-bottom-color:rgb(252, 215, 7);
        margin: 0;
    }
    .td-cabecera-victorias{
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid;
        border-bottom-color:rgb(252, 215, 7);
        margin: 0;
        padding-left: 0.5em;
    }
    .td-fila-puesto-black{
        padding-left: 2em;
        color: #ffff;
      
    }
    .td-fila-usuario-black{
        color: #ffff;
    }
    .td-fila-victorias-black{
        padding-left: 2em;
        color: #ffff;
    }
    .td-fila-puesto-shadow{
        padding-left: 2em;
        color: rgb(6, 6, 6);
        background: rgba(222, 221, 221, 0.5);
    }
    .td-fila-usuario-shadow {
        color: rgb(6, 6, 6);
        background: rgba(222, 221, 221, 0.5);
    }
    .td-fila-victorias-shadow {
        padding-left: 2em;
        color: rgb(6, 6, 6);
        background: rgba(222, 221, 221, 0.5);
      
    }
        
    